# --------------------
# 1. 專案生成但不需要備份的文件
# --------------------

# 巨大的緩存文件，每次打開專案會重新生成
/Library/

# 臨時文件和構建輸出文件
/Temp/
/Obj/
/Builds/
/Logs/
/MemoryCaptures/

# --------------------
# 2. 程式碼/資料庫相關
# --------------------

# Visual Studio 或其他 IDE 產生的文件
*.csproj
*.unityproj
*.sln

# --------------------
# 3. macOS 系統文件
# --------------------
.DS_Store

# --- 忽略大型文件 (超過 100MB 限制) ---
# TextMesh Pro 資源文件
Assets/TextMesh Pro/Resources/Fonts & Materials/思源黑體.asset
Assets/TextMesh Pro/Resources/Fonts & Materials/2思源黑體.asset

# 構建文件 (APK)
*.apk
TEST.apk